NAME="${OS_NAME}"
VERSION="v${OS_VERSION} (${OS_GIT})"
ID="rancheros"
ID_LIKE="suse opensuse"
VERSION_ID="${OS_VERSION}"
PRETTY_NAME="${OS_NAME} v${OS_VERSION} (${OS_GIT})"
ANSI_COLOR="0;32"
BUG_REPORT_URL="https://github.com/rancher/os/issues"
HOME_URL="https://github.com/rancher/os"
