.DS_Store
/assets/ca.crt
/state
/bin
/build
/dist
/gopath
/images/*/build
/scripts/images/vmware/assets
.dockerfile
*.swp
/tests/integration/MANIFEST
/tests/integration/.venv*
/tests/integration/.tox
/tests/integration/.idea
*.pyc
__pycache__
/.dapper
/.trash-cache
/trash.lock
.idea
.trash-conf
/Dockerfile.dapper*
!/Dockerfile.dapper
scripts/images/raspberry-pi-hypriot64/Dockerfile.dapper*
