.DS_Store
/assets/ca.crt
/state
/bin
/build
/dist
/gopath
/images/*/build
.dockerfile
*.swp
/tests/integration/MANIFEST
/tests/integration/.venv*
/tests/integration/.tox
/tests/integration/.idea
*.pyc
__pycache__
/.dapper
/.trash-cache
