rancher:
  bootstrap:
    state-script:
      image: rancher/os-statescript:v0.4.3-dev
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.scope: system
        io.rancher.os.after: udev-bootstrap
      log_driver: json-file
      net: host
      uts: host
      privileged: true
      volumes:
      - /dev:/host/dev
      - /lib/modules:/lib/modules
      - /lib/firmware:/lib/firmware
      - /usr/bin/ros:/usr/bin/ros:ro
      - /usr/share/ros:/usr/share/ros:ro
    udev-bootstrap:
      image: rancher/os-udev:v0.4.3-dev
      environment:
      - BOOTSTRAP=true
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.scope: system
      log_driver: json-file
      net: host
      uts: host
      privileged: true
      volumes:
      - /dev:/host/dev
      - /lib/modules:/lib/modules
      - /lib/firmware:/lib/firmware
  autoformat:
    autoformat:
      image: rancher/os-autoformat:v0.4.3-dev
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.scope: system
      log_driver: json-file
      net: none
      privileged: true
    udev-autoformat:
      image: rancher/os-udev:v0.4.3-dev
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.scope: system
        io.rancher.os.after: autoformat
      log_driver: json-file
      net: host
      uts: host
      privileged: true
      volumes:
      - /dev:/host/dev
      - /lib/modules:/lib/modules
      - /lib/firmware:/lib/firmware
  bootstrap_docker:
    args: [daemon, -s, overlay, -b, none, --restart=false, -g, /var/lib/system-docker,
        -G, root, -H, 'unix:///var/run/system-docker.sock', --userland-proxy=false]
  cloud_init:
    datasources:
    - configdrive:/media/config-2
  network:
    dns:
      nameservers: [8.8.8.8, 8.8.4.4]
    interfaces:
      eth*:
        dhcp: true
      lo:
        address: 127.0.0.1/8
  repositories:
    core:
      url: https://raw.githubusercontent.com/rancher/os-services/v0.4.3-dev
  state:
    fstype: auto
    dev: LABEL=RANCHER_STATE
    oem_fstype: auto
    oem_dev: LABEL=RANCHER_OEM
  services:
    acpid:
      image: rancher/os-acpid:v0.4.3-dev
      labels:
        io.rancher.os.scope: system
      net: host
      uts: host
      privileged: true
      volumes_from:
      - command-volumes
      - system-volumes
    all-volumes:
      image: rancher/os-state:v0.4.3-dev
      labels:
        io.rancher.os.createonly: "true"
        io.rancher.os.scope: system
      log_driver: json-file
      net: none
      privileged: true
      read_only: true
      volumes_from:
      - container-data-volumes
      - command-volumes
      - user-volumes
      - system-volumes
    cloud-init:
      image: rancher/os-cloudinit:v0.4.3-dev
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.reloadconfig: "true"
        io.rancher.os.scope: system
        io.rancher.os.after: cloud-init-pre, wait-for-network
      net: host
      uts: host
      privileged: true
      volumes_from:
      - command-volumes
      - system-volumes
    cloud-init-pre:
      image: rancher/os-cloudinit:v0.4.3-dev
      environment:
      - CLOUD_INIT_NETWORK=false
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.reloadconfig: "true"
        io.rancher.os.scope: system
        io.rancher.os.after: preload-system-images
      net: host
      uts: host
      privileged: true
      volumes_from:
      - command-volumes
      - system-volumes
    command-volumes:
      image: rancher/os-state:v0.4.3-dev
      labels:
        io.rancher.os.createonly: "true"
        io.rancher.os.scope: system
      log_driver: json-file
      net: none
      privileged: true
      read_only: true
      volumes:
      - /usr/bin/docker:/usr/bin/docker.dist:ro
      - /usr/bin/ros:/usr/bin/dockerlaunch:ro
      - /usr/bin/ros:/usr/bin/user-docker:ro
      - /usr/bin/ros:/usr/bin/system-docker:ro
      - /usr/bin/ros:/sbin/poweroff:ro
      - /usr/bin/ros:/sbin/reboot:ro
      - /usr/bin/ros:/sbin/halt:ro
      - /usr/bin/ros:/sbin/shutdown:ro
      - /usr/bin/ros:/usr/bin/respawn:ro
      - /usr/bin/ros:/usr/bin/ros:ro
      - /usr/bin/ros:/usr/bin/cloud-init:ro
      - /usr/bin/ros:/usr/sbin/netconf:ro
      - /usr/bin/ros:/usr/sbin/wait-for-network:ro
      - /usr/bin/ros:/usr/sbin/wait-for-docker:ro
    console:
      image: rancher/os-console:v0.4.3-dev
      labels:
        io.rancher.os.scope: system
        io.rancher.os.after: cloud-init
        io.docker.compose.rebuild: always
      net: host
      uts: host
      pid: host
      ipc: host
      privileged: true
      restart: always
      volumes_from:
      - all-volumes
      volumes:
      - /usr/bin/iptables:/sbin/iptables:ro
    container-data-volumes:
      image: rancher/os-state:v0.4.3-dev
      labels:
        io.rancher.os.createonly: "true"
        io.rancher.os.scope: system
      log_driver: json-file
      net: none
      privileged: true
      read_only: true
      volumes:
      - /var/lib/docker:/var/lib/docker
      - /var/lib/rkt:/var/lib/rkt
    network:
      image: rancher/os-network:v0.4.3-dev
      labels:
        io.rancher.os.scope: system
        io.rancher.os.after: cloud-init-pre
      net: host
      uts: host
      pid: host
      privileged: true
      volumes_from:
      - command-volumes
      - system-volumes
    wait-for-network:
      image: rancher/os-network:v0.4.3-dev
      command: wait-for-network
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.scope: system
        io.rancher.os.after: network
      pid: host
      privileged: true
      volumes_from:
      - command-volumes
      - system-volumes
    ntp:
      image: rancher/os-ntp:v0.4.3-dev
      labels:
        io.rancher.os.scope: system
        io.rancher.os.after: cloud-init, wait-for-network
      net: host
      uts: host
      privileged: true
      restart: always
    preload-system-images:
      image: rancher/os-preload:v0.4.3-dev
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.scope: system
      privileged: true
      volumes:
      - /var/run/system-docker.sock:/var/run/docker.sock
      - /var/lib/system-docker/preload:/mnt/preload
      volumes_from:
      - command-volumes
      - system-volumes
    preload-user-images:
      image: rancher/os-preload:v0.4.3-dev
      labels:
        io.rancher.os.detach: "false"
        io.rancher.os.scope: system
        io.rancher.os.after: console
      privileged: true
      volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/preload:/mnt/preload
      volumes_from:
      - command-volumes
      - system-volumes
    syslog:
      image: rancher/os-syslog:v0.4.3-dev
      labels:
        io.rancher.os.scope: system
      log_driver: json-file
      net: host
      uts: host
      privileged: true
      restart: always
      volumes_from:
      - system-volumes
    system-volumes:
      image: rancher/os-state:v0.4.3-dev
      labels:
        io.rancher.os.createonly: "true"
        io.rancher.os.scope: system
      log_driver: json-file
      net: none
      privileged: true
      read_only: true
      volumes:
      - /dev:/host/dev
      - /etc/docker:/etc/docker
      - /etc/hosts:/etc/hosts
      - /etc/resolv.conf:/etc/resolv.conf
      - /etc/rkt:/etc/rkt
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt.rancher
      - /lib/firmware:/lib/firmware
      - /lib/modules:/lib/modules
      - /run:/run
      - /usr/share/ros:/usr/share/ros
      - /var/lib/rancher/conf:/var/lib/rancher/conf
      - /var/lib/rancher:/var/lib/rancher
      - /var/log:/var/log
      - /var/run:/var/run
    udev-cold:
      image: rancher/os-udev:v0.4.3-dev
      labels:
        io.rancher.os.scope: system
        io.rancher.os.before: udev
      net: host
      uts: host
      privileged: true
      volumes_from:
      - system-volumes
    udev:
      image: rancher/os-udev:v0.4.3-dev
      environment:
      - DAEMON=true
      labels:
        io.rancher.os.detach: "true"
        io.rancher.os.scope: system
      net: host
      uts: host
      privileged: true
      restart: always
      volumes_from:
      - system-volumes
    user-volumes:
      image: rancher/os-state:v0.4.3-dev
      labels:
        io.rancher.os.createonly: "true"
        io.rancher.os.scope: system
      log_driver: json-file
      net: none
      privileged: true
      read_only: true
      volumes:
      - /home:/home
      - /opt:/opt
    docker:
      image: rancher/os-docker:v0.4.3-dev
      labels:
        io.rancher.os.scope: system
        io.rancher.os.after: console
      net: host
      pid: host
      ipc: host
      uts: host
      privileged: true
      restart: always
      volumes_from:
      - all-volumes
      volumes:
      - /sys/fs/cgroup:/host/sys/fs/cgroup
  system_docker:
    args: [daemon, --log-opt, max-size=25m, --log-opt, max-file=2, -s, overlay, -b, docker-sys,
      --fixed-cidr, 172.18.42.1/16, --restart=false, -g, /var/lib/system-docker, -G, root,
      -H, 'unix:///var/run/system-docker.sock', --userland-proxy=false]
  upgrade:
    url: https://releases.rancher.com/os/releases.yml
    image: rancher/os
  docker:
    tls_args: [--tlsverify, --tlscacert=/etc/docker/tls/ca.pem, --tlscert=/etc/docker/tls/server-cert.pem, --tlskey=/etc/docker/tls/server-key.pem,
      '-H=0.0.0.0:2376']
    args: [daemon, --log-opt, max-size=25m, --log-opt, max-file=2, -s, overlay, -G, docker, -H, 'unix:///var/run/docker.sock', --userland-proxy=false]
