[Unit]
Description=RancherOS Automatic Installation
Documentation=https://github.com/rancher/os2
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
TimeoutStartSec=0
StandardOutput=journal+console
ExecStart=/usr/sbin/ros-installer -automatic
