<!DOCTYPE html>
<!--
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>{{ site.name }}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="{{ site.description }}">
                    
                    <link href="/css/bootstrap.css" rel="stylesheet">
                        <style>
                            body {
                                padding-top: 60px;
                            }
                        </style>
                        <link href="/css/bootstrap-responsive.css" rel="stylesheet">
                            
    </head>
    
    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".na\
                        v-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">{{ site.name }}</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Documentation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">

-->
