<div class="row-fluid">
 
 
 <h3>Documentation</h3>
 <div id="navcontainer">
     <ul>
         <li><a href="{{site.baseurl}}/">What is RancherOS?</a>
         <li><a href="{{site.baseurl}}/docs/architecture/">Architecture</a></li>
         <li><a href="{{site.baseurl}}/docs/getting-started/">Getting Started</a>
             <ul>
                 <li><a href="{{site.baseurl}}/docs/getting-started/disk/">Installing to Disk</a></li>
                 <li><a href="{{site.baseurl}}/docs/getting-started/vagrant/">Vagrant</a></li>
                 <li><a href="{{site.baseurl}}/docs/getting-started/amazon/">Amazon</a></li>
             </ul>
         </li>
         <li><a href="{{site.baseurl}}/docs/configuring/">Configuring</a>
             <ul>
                 <li><a href="{{site.baseurl}}/docs/configuring/tls/">TLS</a></li>
                 <li><a href="{{site.baseurl}}/docs/configuring/cloud-init/">Cloud Init</a></li>
             </ul>
         </li>
         <li><a href="{{site.baseurl}}/docs/system-services/">Adding System Services</a></li>
         <li><a href="{{site.baseurl}}/docs/upgrading/">Upgrading</a></li>
         <li><a href="{{site.baseurl}}/docs/rancherctl/">RancherCTL</a>
             <ul>
                 <li><a href="{{site.baseurl}}/docs/rancherctl/config/">Config</a></li>
                 <li><a href="{{site.baseurl}}/docs/rancherctl/tls/">TLS</a></li>
                 <li><a href="{{site.baseurl}}/docs/rancherctl/os/">OS</a></li>
                 <li><a href="{{site.baseurl}}/docs/rancherctl/service/">Service</a></li>
            </ul>
         </li>
         <li><a href="{{site.baseurl}}/docs/developing/">Developing</a></li>
         <li><a href="{{site.baseurl}}/docs/faqs/">FAQs</a></li>
     </ul>
 </div>
</div>