NAME="RancherOS"
ID="rancheros"
ID_LIKE="suse opensuse"
BUG_REPORT_URL="https://github.com/rancher/os2/issues"
HOME_URL="https://github.com/rancher/os2"

VERSION="${VERSION}"
VERSION_ID="${VERSION_ID}"
PRETTY_NAME="${PRETTY_NAME}"
